<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container {
            display: flex;
            justify-content: space-evenly;
            align-items: stretch;
        }

        .item {
            flex-wrap: wrap;
            align-items: auto;
            margin: 5px;
            border-radius: 5px;
            padding: 10px;
        }
    </style>
</head>

<body>
    <form action="/get_sentiment" method="post">
        <label for="text">Text to analyze: </label>
        <textarea name="text" id="text"></textarea>
        <input type="submit" value="Get Sentiment">
    </form>

    <form id="sentiments_form" action="#" method="post">
        <label for="search_query">Search Query: </label>
        <input type="text" name="search_query" id="search_query">
        <label for="count">Max Number of Tweets to consider: </label>
        <input type="number" name="count" id="count" value=20 max="100">
        <input type="submit" value="Get Sentiments">
    </form>

    <div class="container" id="tweets_container"></div>

    <p id="result"></p>
    <input type="button" id="api_req_button" value="Get Sentiment via api">
    <script>
        const res = document.getElementById("result");
        const api_req_button = document.getElementById("api_req_button");
        const tweets_container = document.getElementById("tweets_container");

        function get_sentiment_from_api() {
            let text = document.getElementById("text").value;
            console.log(text);
            var xhr = new XMLHttpRequest();
            xhr.open("POST", `/get_sentiment_api?text=${text}`, true);

            //Send the proper header information along with the request
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

            xhr.onreadystatechange = function () {
                if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
                    res.innerText = xhr.responseText;
                }
            }
            xhr.send();

        }

        function get_sentiments(e) {
            let data = null;
            e.preventDefault();
            const query = document.getElementById("search_query").value;
            const count = document.getElementById("count").value;
            let dataHTML = "";
            console.log([query, count]);
            var xhr = new XMLHttpRequest();
            // xhr.responseType = 'json';
            xhr.open("POST", `/get_sentiments?q=${query}&count=${count}`, true);

            //Send the proper header information along with the request
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

            xhr.onreadystatechange = function () {
                console.log(this.statusText);
                if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {

                    data = JSON.parse(this.responseText);
                    console.log(data);
                    data.forEach((tweet, i) => {
                        const polarity = tweet["sentiment"][0];
                        const subjectivity = tweet["sentiment"][1];
                        let r = g = b = 150;
                        if (polarity > 0) {
                            r = 0;
                            g = Math.abs(255 * Math.floor(polarity * 255));
                        } else if (polarity < 0) {
                            r = Math.abs(255 * Math.floor(polarity * 255));
                            g = 0
                        } else {
                            r = 100;
                            g = 100;
                            b = 100;
                        }
                        dataHTML += `
                        <div id="tweet_${i}" class="item" style="background-color: rgb(${r}, ${g}, ${b});">
                            <p>${tweet["original"]}</p>
                        </div>
                        `;
                    });
                    console.log(dataHTML);
                    tweets_container.innerHTML = dataHTML;
                }
            }
            xhr.send();

        }


        document.getElementById("sentiments_form").addEventListener("submit", get_sentiments);
        api_req_button.addEventListener("click", get_sentiment_from_api);

    </script>
</body>

</html>